body {
    font-family: Gill Sans Extrabold, sans-serif;
}

    .exercise {
        border: solid 5px burlywood;
        display: block;
        height: 200px;
    }
        .exercise button {
            display: inline-block;
            width: 10%;
        }   

        #newText {
            display: inline-block;
            border: dotted 2px black;
            width: 150px;
            text-align: center;
            margin: 0;
        }
    
    .excerciseTitle {
        font-size: 20px;
        display: block;
    }



    #myElement {
        display: inline-block;
        width: 40%;
        height: 150px;
        text-align: center;
        margin: auto;       
        background-color: cornflowerblue;
        color: white;
    }

    #emptyHeader {
        /* border: dotted 2px black; */
    }

