<div class="row">
    {{#each data}}
        <div class="col-xs-6 col-md-3"  id={{id}}>
            <h2>{{title}}</h2>
            <p>{{body}}</p>
        </div>
    {{/each}}
</div>

<a type="button" class="btn btn-primary" href="/messages/new"> New Message</a>

